html{
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;


  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient($Softviolet, $Softblue);




}

a{
  text-decoration: none;
  color: $Verydarkgrayishblue;
}

a:hover{
  color: $Softred;
}