// color
$Verydarkdesaturatedblue : hsl(238, 29%, 16%);
$Softred: hsl(14, 88%, 65%);

$Softviolet: hsl(273, 75%, 66%);
$Softblue: hsl(240, 73%, 65%);

$Verydarkgrayishblue: hsl(237, 12%, 33%);
$Darkgrayishblue: hsl(240, 6%, 50%);

$Lightgrayishblue : hsl(240, 5%, 91%);

$white : white;

$font-sm: 0.75rem;


@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
